body {
	margin: 0;
	padding: 1em 15vw;
	background: rgb(66,134,244);
	background: linear-gradient(180deg, rgba(66,134,244,1) 35%, rgba(0,212,255,1) 100%);
	color: white;
	height: 100vh;
}
.whiteBox {
	padding: 1em;
	background: white;
	display: inline-block;
	padding: 25px;
	margin: 25px;
	color: black;
}
footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	color: black;
	padding: 1em;
	text-align: left;
}
footer p {
	margin: 0;
}