doctype html
html(lang="en")
  head
    style.
      body {
        margin: 0;
      }
      textarea {
        height: 30vh;
        width: 55vw;
      }
    title Passphrase
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")

  body
    div(id="main")
      div(id="side-column", class='main-column')
        ul(id="side-list")
          h1 Passphrase
          h2 Settings Panel
          li
            a(class="btn btn-link", href='/main') Return to main
          li
            a(class="btn btn-link", href='/logout') Logout
      div(id='main-column', class='main-column')
        if (msg)
          div(class="alert alert-primary", role="alert")= msg
        h3 Change Password
        form(method='POST')
          input(type='hidden', name='type', value='password')
          div(class="input-group mb-3")
            div(class="input-group-prepend")
              span(class="input-group-text" id="inputGroup-sizing-default") Old Password
            input(class="form-control", name='origpassword', type='password', placeholder='Old Password')
          div(class="input-group mb-3")
            div(class="input-group-prepend")
              span(class="input-group-text" id="inputGroup-sizing-default") New Password
            input(class="form-control", name='password1', type='password', placeholder='New Password')
          div(class="input-group mb-3")
            div(class="input-group-prepend")
              span(class="input-group-text" id="inputGroup-sizing-default") Confirm Password
            input(class="form-control", name='password2', type='password', placeholder='Confirm Password')
          input(class="btn btn-primary", type='submit')
        h3 Delete My Account
        form(method='POST')
          input(type='hidden', name='type', value='delete')
          div(class="input-group mb-3")
            div(class="input-group-prepend")
              span(class="input-group-text" id="inputGroup-sizing-default") Password
            input(class="form-control", name='password', type='password', placeholder='Password')
          button(class="btn btn-primary", type='submit') Delete My Account



        